# Server Connection
VITE_API_URL=https://aarambh-k6rv.vercel.app/api
VITE_GOOGLE_FORM_URL=YOUR_GOOGLE_FORM_LINK_HERE

# EmailJS Configuration for Get Your Quote Form
VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key